<div class="category-style-one sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Kategoriler</h3>
    </div>
    <ul class="list">
        <li><a href="#" class="clearfix"><span class="float_left">hakkımda </span><span class="float_right">(8)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">projeler </span><span class="float_right">(3)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">fotoğraflar </span><span class="float_right">(6)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">giderler </span><span class="float_right">(9)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">notlar  </span><span class="float_right">(7)</span></a></li>
    </ul>
</div> <!-- End of .sidebar_categories -->
