<div class="popular_news sidebar-padd mar-1">
    <div class="inner-title">
        <h3>En Fazla Okunanlar</h3>
    </div>

    <div class="popular-post">
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/1.jpg" alt=""></a></div>
            <h4><a href="#">Bitlis Eren Üniversitesi Bilimsel Araştırma Projeleri Koordinatörlüğü, 2547 sayılı Yükseköğretim Kanununun 4684 sayılı Kanunla değişik 58.maddesi ve 10.04.2002 tarih ve 24722 sayılı Resmi Gazetede yayınlanmış olan Yükseköğretim Kurumları Bilimsel Araştırma Projeleri Hakkında Yönetmelik uyarınca, Bitlis Eren Üniversitesi bilimsel araştırma proje tekliflerinin değerlendirilmesi, kabulü ve desteklenmesi ile bunlara ilişkin hizmetlerin yürütülmesi, izlenmesi ve sonuçlandırılması amacıyla kurulmuştur..</a></h4>
            <div class="post-info"> 2023 </div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/2.jpg" alt=""></a></div>
            <h4><a href="#">daha kolay öğremme</a></h4>
            <div class="post-info">2023</div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/3.jpg" alt=""></a></div>
            <h4><a href="#">Bitlis Eren Üniversitesi Bilimsel Araştırma Projeleri Koordinatörlüğü, 2547 sayılı Yükseköğretim Kanununun 4684 sayılı Kanunla değişik 58.maddesi ve 10.04.2002 tarih ve 24722 sayılı Resmi Gazetede yayınlanmış olan Yükseköğretim Kurumları Bilimsel Araştırma Projeleri Hakkında Yönetmelik uyarınca, Bitlis Eren Üniversitesi bilimsel araştırma proje tekliflerinin değerlendirilmesi, kabulü ve desteklenmesi ile bunlara ilişkin hizmetlerin yürütülmesi, izlenmesi ve sonuçlandırılması amacıyla kurulmuştur.</a></h4>
            <div class="post-info">2023</div>
        </div>
    </div>
</div>


