<div class="sidebar_tags sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Etiketler</h3>
    </div>
    <ul>
        <li><a href="#" class="tran3s">Aaaaa</a></li>
        <li><a href="#" class="tran3s">proje</a></li>
        <li><a href="#" class="tran3s">fakülte</a></li>
        <li><a href="#" class="tran3s">Bölümler</a></li>
        <li><a href="#" class="tran3s">akademisyeler</a>  </li>
        <li><a href="#" class="tran3s">hakkımızda</a></li>
        <li><a href="#" class="tran3s">ulaşım</a> </li>
    </ul>
</div> <!-- End of .sidebar_tags -->
